/* Applies to whole page. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body background color */
body {
    background-color: #d6e6c6;
}

/* Header styling. */
.header {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:darkolivegreen; 
    color: #e6f3e0;
}

/* My last name in Header. */
.header h1 {
    display: inline-block;
    font-size: 40px;
}

/* The next three Div styles apply to the navigation menu, top right in the header. */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
}

/* Navigation anchors in header */
a {
    color: #e6f3e0;
    text-decoration: none;
}

/* This is the main image on the page. */
.hero {
    height: 200px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url("./images/20220402_152752.jpg");
    background-size: cover;
    background-position: center;
}



h2 {
    text-align: left;
    background-color: #112e13;
    color: #ffffff;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    height: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.about-me-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
    padding: 40px;
    height: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #112e13;
    color: #ffffff;
}

.about-me-container img {
    border-radius: 3px;
    display: inline;
    height: 260px;
    float: left;
}

/* Formats the text in the Main */
p {
    font-size: 18px;
    display: inline;
    padding-inline-start: 10px;
    flex: 0 0 70%;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    list-style: none;
    background-color: #112e13;
    padding-top: 20px;
    margin-bottom: 5px;
  }
  
  .work-container > li {
    flex-basis: 350px; /*width: 350px;*/
    position: relative;
    cursor: pointer;
  }
  
  .work-container::after {
    content: "";
    flex-basis: 350px;
  }
  
  .work-container li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 14, 2, 0.63);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-style: inset;
    border-color: #112e13;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* hover */
  .work-container li:hover .overlay {
    transform: scale(1);
  }

.contact-me-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
    min-height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #112e13;
    color: #ffffff;
    list-style-type: none;
}

.contact-me-container ul li {
    display: inline-flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: underline;
    font-size: 20px;
}

/* Navigation anchors in header */
a {
    color: #e6f3e0;
    text-decoration: none;
    margin-bottom: 50px;
}

/* Formatting for footer section. */
footer {
    padding: 1px;
    display: inline;
    
}

footer h4 {
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:#112e13
}